[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pep8 = "*"
autopep8 = "*"

[packages]
autopip8 = "*"
autopep8 = "==1.4.4"

[requires]
python_version = "3.7"
